.header {
  background: black;
  display: flex;
  height: 9%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  column-gap: 15%;
  width: 50%;
  align-items: center;
}
.menu span a {
  color: rgb(105,199,180);
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.menu_ul{
  display: flex;
  margin: 0;
}
.menu_ul li{
  list-style: none;
  margin-right: 25%;
}

.menu_ul a {
  position: relative;
  display: block;
  font-size: 22px;
  color: #ecf0f1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu_ul a::after {
   position: absolute;
   content: "";
   top: 100%;
   left: 0;
   width: 100%;
   height: 3px;
   background: #3498db;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.5s;
 }

.menu_ul a:hover {
   color: #73a3aa;
 }

.menu_ul a:hover::after {
   transform: scaleX(1);
   transform-origin: left;
 }

.header_buttons{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: end;
}

.icons_color {
  color: white;
  font-size: 25px;
}

.mat-menu-item{
  line-height:25px;
  height:25px;
}

.mat-icon-button{
  min-width: 75px;
}

form{
  display: flex;
  align-items: center;
  width: 40%;
}


input[type="text"] {
  border-radius: 10px;
  width: 100%;
  height: 25px;
  border: 0;
  font-size: 12px;
}

button[type="submit"] {
  border: 0;
  margin-left: -50px;
}

@media screen and (max-width: 1100px){
  .menu{
    column-gap: 10%;
  }
  .menu_ul a{
    font-size: 18px;
  }
  .menu span a {
    font-size: 23px;
  }
  .menu_ul li{
    margin-right: 15%;;
  }
}

@media screen and (max-width: 750px){
  .menu{
    column-gap: 5%;
  }
  .menu_ul a{
    font-size: 14px;
  }
  .menu span a {
    font-size: 18px;
  }
  .menu_ul li{
    margin-right: 5%;;
  }

  input[type="text"] {
    border-radius: 8px;
    width: 100%;
    height: 20px;
    border: 0;
    font-size: 12px;
  }
  .icons_color {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px){
  form{
    display: none;
  }
  .mat-icon-button{
    display: none;
  }
}



