<mat-toolbar class="header">
  <div class="menu">
    <span><a [routerLink]="['']">MOVIES</a></span>
    <ul class="menu_ul">
      <li><a [routerLink]="['movie']">{{language === 'uk-UK' ? 'Фільми' : 'Films'}}</a></li>
      <li><a [routerLink]="['tv']">{{language === 'uk-UK' ? 'Серіали' : 'Serials'}}</a></li>
      <li><a [routerLink]="['actors']">{{language === 'uk-UK' ? 'Актори' : 'Actors'}}</a></li>
    </ul>
  </div>

  <div class="header_buttons">

    <form [formGroup]="form">
        <input type="text" placeholder="...search movie" formControlName="search">
        <button mat-icon-button type="submit" (click)="searchMovie()" [routerLink]="['search']">
          <mat-icon color="primary">search</mat-icon>
        </button>
    </form>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="icons_color">language icon</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="chooseLanguage('en-US')">ENG</button>
      <button mat-menu-item (click)="chooseLanguage('uk-UK')">УКР</button>
    </mat-menu>

    <button mat-icon-button [routerLink]="['favorites']">
      <mat-icon matBadge="{{favorites ? favorites : '' }}"
                matBadgeColor="warn" class="icons_color"
                matBadgeSize="small">
        favorite
      </mat-icon>
    </button>
  </div>

</mat-toolbar>
