.container {
  width: 80%;
  margin: 2% auto;
  min-height: 1000px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 3%;
}

.films {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 20px;
}

.film {
  display: flex;
  width: 19%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 10px;
  height: 23%;
  position: relative;
}

.film:hover {
  transform: scale(1.2);
}

.film h3 {
  margin: 0;
}

.addMovie{
  position: absolute;
  top:5%;
  right: 5%;
}

.mat-icon {
  font-size: 30px;
  color: white !important;
}





