<div class="container">
  <h2>{{genreName}}</h2>

  <div class="films" *ngIf="films">

    <div *ngFor="let film of films" class="film">
      <a [routerLink]="[film.id]">
        <img src="https://image.tmdb.org/t/p/w200/{{film.poster_path}}">
      </a>
      <div class="addMovie">
        <button mat-icon-button (click)="addMovie(film)">
          <mat-icon class="mat-icon">favorite</mat-icon>
        </button>
      </div>
      <ngb-rating [rate]="film.vote_average"></ngb-rating>
      <h4>{{movieOrSerial === 'movie' ? film.title : film.name}}</h4>
    </div>
  </div>

  <ngb-pagination
    [collectionSize]="1000"
    [(page)]="pageId"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="onPageChange($event)"
    class="d-flex justify-content-center mt-5 text-black"
  ></ngb-pagination>

</div>
