<div class="container">
  <h2>Popular</h2>
  <div class="container_actors">
    <div class="actor" *ngFor="let actor of actors">
      <a [routerLink]="[actor.id]">
        <img src="https://image.tmdb.org/t/p/w300/{{actor.profile_path}}" alt="{{actor.name}}" class="actor_image">
        <h4>{{actor.name}}</h4>
      </a>
    </div>
  </div>

  <ngb-pagination
    [collectionSize]="1000"
    [(page)]="pageId"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="onPageChange($event)"
    class="d-flex justify-content-center mt-5 text-black"
  ></ngb-pagination>
</div>
