<ngb-carousel *ngIf="nowPlaying">
  <ng-template *ngFor="let movie of nowPlaying" ngbSlide>
    <a [routerLink]="['movies',movie.id]">
      <div class="picsum-img-wrapper">
        <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" alt="{{movie.title}}"
             style="height: 500px"
             width="100%">
      </div>
      <div class="carousel-caption">
        <h1>{{movie.title}}</h1>
      </div>
    </a>
  </ng-template>
</ngb-carousel>

<div class="container">

  <h2>{{language === 'uk-UK' ? 'Найбільш Рейтингові' : 'Top Rating'}}</h2>
  <div class="container_movie">
    <div *ngFor="let item of movies" class="movie">
      <a [routerLink]="['movies',item.id]">
        <img src="https://image.tmdb.org/t/p/w200/{{item.poster_path}}">
      </a>
      <div class="addMovie">
        <button mat-icon-button (click)="addMovie(item)">
          <mat-icon class="mat-icon">favorite</mat-icon>
        </button>
      </div>
      <ngb-rating [rate]="item.vote_average" class="rating"></ngb-rating>
      <h3>{{item.title}}</h3>
    </div>
  </div>

</div>



