.container {
  width: 80%;
  margin: 2% auto;
  min-height: 1000px;
}

.container_movie {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.movies {
  display: flex;
  column-gap: 10px;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  row-gap: 10px;
  position: relative;
}

.movie:hover{
  transform: scale(1.2);
}

.movie h3 {
  margin: 0;
  font-size: 12px;
}

.addMovie{
  position: absolute;
  top:5%;
  right: 5%;
}

.mat-icon {
  font-size: 30px;
  color: white !important;
}
